<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    link(rel="stylesheet", href="css/main.css")
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    title CV
    // Specify the web page description
    meta(name="description", content="")
  body
    .wrapper
      div.wrapper__small-col
        include ./../components/face.pug
        include ./../components/section.pug
        //- mixin section(title, imgSrc, cssClass)
        +section("profile", "./img/profile.svg", "profile")
          p(class="profile__p")
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
            span(class="profile__text--bold") pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
        +section("contact", "./img/phone.svg", "contact")
          include ./../components/table-small.pug
          - var data = {'address': 'Main Street, City.', 'e-mail': 'contact@domain.com', 'phone': '555-555-555', 'website': 'www.yourweb.com'}
          +table-small(data, 'contact__table-small')

        +section("skills", "./img/skills.svg", "skills")
          include ./../components/indicator-circled.pug
          +indicator-circled('creative', 9)
          +indicator-circled('teamwork', 11)
          +indicator-circled('innovate', 6)
          +indicator-circled('communication', 11)
      
      div.wrapper__big-col
        +section("education", "./img/education.svg", "education")
          include ./../components/ul-complex.pug
          -
            var education = [{header: 'Master Degree', date: '// Feb 2011 - Jun 2016', subHeader: 'university name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
              {header: 'Master Degree', date: '// Feb 2011 - Jun 2016', subHeader: 'university name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
              {header: 'Master Degree', date: '// Feb 2011 - Jun 2016', subHeader: 'university name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
              {header: 'Master Degree',date: '// Feb 2011 - Jun 2016', subHeader: 'university name', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}]
          +ul-complex(education, 'education-ul-complex')

        +section("experience", "./img/experience.svg", "experience")
          -
            var experience = [{header: 'company name', date: '// Oct 2015 - Aug 2019', subHeader: 'your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
              {header: 'company name', date: '// Oct 2015 - Aug 2019', subHeader: 'your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'},
              {header: 'company name', date: '// Oct 2015 - Aug 2019', subHeader: 'your job here', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'}]
          +ul-complex(experience, 'experience-ul-complex')
        
        +section("software", "./img/software.svg", "software")
          include ./../components/indicator-line.pug
          .row
            .col-6
              +indicator-line('photoshop', 92)
              +indicator-line('illustrator', 71)
              +indicator-line('indesign', 57)
              +indicator-line('JavaScript', 52)
            .col-6
              +indicator-line('dreamweaver', 83)
              +indicator-line('after effects', 61)
              +indicator-line('html5&css3', 91)
        


      
    - var isDevelopment = !process.env.NODE_ENV || process.env.NODE_ENV === 'development';
    script(src= isDevelopment ? "./js/main.js" : "./js/main-min.js")