.wrapper {
  min-width: 180.0rem; 
  max-width: 180.0rem;
  min-height: 254.61290322580644rem; // 3508px - (3508 * 0.2741935483870968) = 2546.1290322580644px = 254.61290322580644rem
  margin: auto;
  background: #ffffff;
  border: 1px solid red;
  background-image: url('./../img/temp_bg2.png'); // это временный фон, чтобы легче было верстать
  background-size: 100% 100%;

  /*
  Ширина макета в PSD составляет 2480px, высота 3508px
  Я решил верстать под десктоп шириной 1800px. Поэтому мне нужно узнать на сколько процентов всё уменьшать.

  100 - (1800/2480 * 100) = 27.41935483870968 (все размерности мне нужно уменьшать на 27%)
  
  Для удобства делю на сто и получаю коэффициент на который нужно умножать все размерности:
  27.41935483870968 / 100 = 0.2741935483870968

  */

}