.wrapper {
  min-width: 180.0rem; 
  max-width: 180.0rem;
  min-height: 254.61290322580644rem; // 3508px - (3508 * 0.2741935483870968) = 2546.1290322580644px = 254.61290322580644rem
  margin: auto;
  background: #ffffff;
  border: 1px solid red;
  background: url('./../img/temp_bg2.png') no-repeat; // это временный фон, чтобы легче было верстать
  background-size: 100%;
  padding: 10.88709rem 8.3rem 13.79032rem 8.49193rem;
  margin-bottom: 2rem; // временный отступ для удобства верстки
  display: flex;

  /*
  Ширина макета в PSD составляет 2480px, высота 3508px
  Я решил верстать под десктоп шириной 1800px. Поэтому мне нужно узнать на сколько процентов всё уменьшать.

  100 - (1800/2480 * 100) = 27.41935483870968 (все размерности мне нужно уменьшать на 27%)
  
  Для удобства делю на сто и получаю коэффициент на который нужно умножать все размерности:
  27.41935483870968 / 100 = 0.2741935483870968

  */

  &__small-col {
    width: 71.5rem;
    border: 1px dashed blue;
  }

  &__big-col {
    width: 92rem;
    border: 1px dashed blue;
  }

}