section.face
  div.face__photo-holder
    img.face__photo-holder-img(src='', alt="avatar", onerror="this.style.display='none'")
  span.face__first-name name here
  span.face__surname surname
  span.face__profession graphic designer