.table-small {
  width: 100%;
  height: 31.5rem;
  border-collapse: collapse;

  &__tr {

  }

  &__th-inline {
    text-align: left;
    vertical-align: bottom;
    width: 30.5%;
    font-size: $font-size--medium;
    color: $color-second;
    text-transform: uppercase;

    @media (max-width: $phone) {
      font-size: $font-size--medium-mobile;
    }
  }

  &__td {
    width: 69.5%;
    font-size: $font-size--medium;
    vertical-align: bottom;

    @media (max-width: $phone) {
      font-size: $font-size--medium-mobile;
    }
  }
}