.table-small {
  border: 1px solid red;
  width: 100%;
  height: 31.5rem;
  border-collapse: collapse;

  &__tr {

  }

  &__th-inline {
    border: 1px solid red;
    text-align: left;
    vertical-align: bottom;
    width: 30.5%;
    font-size: 2.9rem;
    color: $color-second;
    text-transform: uppercase;
  }

  &__td {
    border: 1px solid red;
    width: 69.5%;
    font-size: 2.9rem;
    vertical-align: bottom;
  }
}